body{
    margin: 0; 
    padding: 0; 
    font-family: 'Raleway', serif; 

}

.thirdpage{
    background-color: #f03434;
    height: 500px;
    
}

h3{
    color: white;
    text-align: center;
    font-size: 12px;
    padding-top: 20px;
    font-weight: 10;
    font-family: 'Roboto Slab', serif;
    max-width: 300px;
    margin: 0 auto;
}

.number{
    font-size: 12px;
    margin-top: 0px;
}

.contactphone{
    max-width: 100px;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 140px;
}

.contactinfoicons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    padding-left: 160px;
    padding-top: 10px;
}

.smouha{
    font-size: 12px;
    margin-top: 0px;
}

.firstpage{
    background: url(images/roman-arkhipov-123618-unsplash.jpg);
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    height: 100vh; 
}

.logo{
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
}


.navbar{
    color: white; 
    margin: 0 auto;
    max-width: 300px;
}

.navbar li{
    display: inline-block; 
    padding-left: 15px;
    font-size: 13px;
}

.maincontent{
    text-align: center; 
    color: white; 
    max-width: 350px;
    margin: 0 auto; 
    padding-top: 150px;
}

h1{
    font-family: 'Roboto Slab', serif;
}

.mainp{
    font-family: 'Raleway', serif;
    letter-spacing: 2px;
}

a{
    text-decoration: none; 
    color: white;
}

.button{
    background-color: #F03434;
    max-width: 100px;
    margin: 0 auto; 
    height: 25px;
    border-radius: 20px;
    padding-top: 10px;
    font-weight: 700; 
    font-size: 13px;
}

.secondpage{
    height: 800px;
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr 1fr;  
    padding-top: 30px;
    text-align: center; 
    justify-content: center; 
}

h2{
    font-size: 15px;
    line-height: 0px;
    text-transform: uppercase;
}

.bank{
    font-size: 13px;
    max-width: 250px;
    font-family: 'Raleway', serif;
    font-weight: 400;
    padding-bottom: 50px;
    margin: 0 auto;
   
}

.heart{
    font-size: 13px;
    max-width: 250px;
    font-family: 'Raleway', serif;
    font-weight: 400;
    padding-bottom: 50px;
    margin: 0 auto;
}

.location{
    font-size: 13px;
    max-width: 250px;
    font-family: 'Raleway', serif;
    font-weight: 400;
    padding-bottom: 50px;
    margin: 0 auto;
    
}

@media only screen and (min-width: 1080px){
    
    .navbar{
        position: absolute; 
        right: 0; 
        top: 25px;
        right: 120px;
        
    }
    
    .logo{
        position: absolute; 
        left: 0;
        top: 5px;
    }
    
    .maincontent{
        padding-top: 350px;
    }
    
    h1{
        font-size: 40px;
    }
    
    .images{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        grid-gap: 250px;
    }
    
    .secondpage{
        height: 350px;
        padding-top: 100px;
    }
    
    .thirdpage{
        background-color: #f03434;
        height: 500px;
    }
    
    .contactinfo{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 900px;
        padding-top: 100px;
        padding-left: 185px;
    }
    
    .contactphone{
        position: absolute; 
        right: 0;
        padding-top: 100px;
        padding-right: 310px;
        width: 150px;
    }
    
    h3{
        color: white;
        font-family: 'Roboto Slab', serif;
        font-weight: 100;
        font-size: 14px;
        text-align: left; 
    }
    
    .contactinfoicons{
        display: grid;
        grid-template-columns: 1fr 1fr; 
        max-width: 200px;
        padding-left: 200px;
        color: white;
        font-size: 12px;
    }
    
   
    
    .phonecontact{
        padding-left: 60px;
    }
    
    .locationdiv{
        padding-left: 60px;
        padding-top: 20px;
    }
    
}
